{% extends 'base.html.twig' %}

{% block title %}Experiences index{% endblock %}

{% block body %}
    <h1>Experiences index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ide</th>
                <th>DateD</th>
                <th>DateF</th>
                <th>NomEtablissement</th>
                <th>VilleEtablissement</th>
                <th>NomPoste</th>
                <th>Mission</th>
                <th>Responsable</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for experience in experiences %}
            <tr>
                <td>{{ experience.id }}</td>
                <td>{{ experience.ide }}</td>
                <td>{{ experience.dateD ? experience.dateD|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ experience.dateF ? experience.dateF|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ experience.nomEtablissement }}</td>
                <td>{{ experience.villeEtablissement }}</td>
                <td>{{ experience.nomPoste }}</td>
                <td>{{ experience.mission }}</td>
                <td>{{ experience.responsable ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_experiences_show', {'id': experience.id}) }}">show</a>
                    <a href="{{ path('app_experiences_edit', {'id': experience.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_experiences_new') }}">Create new</a>
{% endblock %}
